html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: 'Raleway';
    font-size: 18px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(236, 236, 236);
}

::-webkit-scrollbar-thumb {
    background-color: #1981c6;
    border-radius: 4px;
}



