.footer_contenedor--datos{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer_ubicacion{
    width: 100%;
    margin-bottom: 20px
}

.footer_ubicacion-linea{
    width: 80%;
    opacity: 0.7;
}

.footer_ubicacion ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.footer_ubicacion ul li{
    margin-top: 20px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_ubicacion li a{
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.footer_ubicacion li a:hover{
    opacity: 1;
    transition: 0.3s ease;
}

.footer_ubicacion li a p{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 1.2rem;
}

.footer_ubicacion ul li a img{
    width: 30px;
    margin-right: 10px;
}

.footer_ubicacion span{
    transform: translatex(-10px) translateY(-13px);
    -webkit-transform: translatex(-10px) translateY(-13px);
    -moz-transform: translatex(-10px) translateY(-13px);
    -ms-transform: translatex(-10px) translateY(-13px);
    -o-transform: translatex(-10px) translateY(-13px);
}

/*! Para hacerlo responsive */
/* Estilos para PC (a partir de 1025px) */
@media screen and (min-width: 1025px) {
    .footer_contenedor--datos{
        flex-direction: row;
        padding-top: 20px;
    }

    .footer_ubicacion{
        width: 50%;
    }

    .footer_ubicacion span{
        transform: translatex(-10px) translateY(-13px);
}

    .footer_ubicacion-linea{
        display: none;
    }
}